body
{
    text-align: center;
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background-color: aliceblue;
}

#myCarousel
{
    text-align: center;
    background-color: red;
}

#myCarousel img
{
    margin-left: 422px;
    margin-top: 35px;
    height: 300px;
}
.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}